# ignore binaries
*

# unignore source files etc
!*.*

# ignore output files
*.o

# ignore patch files
*.orig
*.rej

# ignore config.h
config.h

# unignore text files
!LICENSE
!Makefile
!README

# unignore shell scripts
!dmenu_path
!dmenu_run
